body {
  background-color: #e1e4e7 !important;
}

.transition-container {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.offcanvas {
  transition: transform 0.3s ease-in-out;
}